*{margin: 0; padding: 0;}
*{box-sizing: border-box;}
*::before{box-sizing: border-box;}
*::after{box-sizing: border-box;}

* {
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* White background is too boring，let's make some change */
html{
  color: rgb(222, 222, 222);
  background-color: #5b254d;
  min-height: 100vh;
}

/* More cool with 3D animation */
html{
  -webkit-perspective: 1000px;
          perspective: 1000px;
}