.resumeEditor{
    position: fixed; right: 0; top: 0;
    padding: .5em;  margin: .5em;
    width: 45vw; height: 90vh; 
    border: 1px solid;
    background: white; color: #222;
    overflow: auto;
  }
  
  .resumeEditor{
    padding: 2em;
  }
  
  .resumeEditor h1{
    display: block;
    width: 80px;
    margin: 0 auto;
  }
  .resumeEditor h2{
    display: inline-block;
    border-bottom: 1px solid;
    margin: 1em 0 .5em;
  }
  .resumeEditor h3{
      display: inline-block;
      margin: 0.5em 0;
  }
  .resumeEditor a{
      color: #000;
  }
  .resumeEditor ul{
      list-style: none;
  }
  .resumeEditor ul>li::before {
      content: "•";
      margin-left: 1em;
      margin-right: 0.5em;
  }